# Dependencies
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# Next.js build output
.next

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Other files
README.md
.DS_Store
